@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/trvlcss.css">
    <script src="jss.js"></script>
    <script src="https://kit.fontawesome.com/3ed3e280c1.js" crossorigin="anonymous"></script>
    <title>TRAVEL</title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="banner-words">
                <p class="banner-words">Free & Fast Shipping + Free Returns</p>
            </div><!--END OF BANNER-WORDS-->
        </div>
        
        <div id="main">
            <div class="hero">
                <a href="#####"><img src="~/lib/images/MountainBanner_2.png" class="heroimg"></a>
            </div><!--END OF HERO-->
            <div class="break">

            </div><!--END OF BREAK-->
            <div class="center">
                <div class="left">
                    <a href="#####"><img src="~/lib/images/TravelHikeOuterwear_1.png" class="leftimg"></a>
                    <div class="overlay">
                        <a href="####" class="overlay"></a>
                    </div><!--END OF OVERLAYLF-->
                </div><!--END OF LEFT-->
                <div class="right">
                    <a href="####"><img src="~/lib/images/TravelSidewalkBanner_1.png" class="rightimg"></a>
                    <div class="overlay">
                        <a href="###" class="overlay"></a>
                    </div><!--END OF OVERLAY-->
                </div><!--END OF RIGHT-->
            </div><!--END OF CENTER-->
            <div class="btmcenter">

            </div><!--END OF BTMCENTERs-->
        </div><!--END OF MAIN-->

    </div><!--END OF CONTAINER-->

</body>
